<div ng-init="cronapi.client('js.blockly.ListaApi.GetApi.GetApi').run()" ng-model="vars.listaVotos"> 
  <div class="votacao-lado-esquerdo col-md-7">
  <div class="component-holder ng-scope  col-md-12" data-component="crn-textinput" id="crn-textinput-545907"> 
    <div class="form-group"> 
      <label for="input158">Pesquisar</label> 
      <input type="text" mask="" mask-placeholder="" ng-required="false" ng-model="vars.input158" class="form-control k-textbox" id="input158" placeholder=""> 
    </div> 
  </div> 
  <div class="component-holder ng-scope col-md-12" data-component="crn-accordion" id="crn-accordion-325904" crn-skin="css/skins/IdVisualAccordion.css"> 
    <div class="panel-group" id="accordion-1372{{$index}}" role="tablist" aria-multiselectable="true"> 
      <div class="panel panel-default" ng-repeat="ideia in vars.listaIdeias track by $index"> 
      <div style="display: flex; flex-direction: row;">
        <div style="margin-top: 46px; margin-right: 20px; margin-left: 12px;"> 
            <input class="check-voto-selecao" onclick="checkCount(this)" type="checkbox" id="checkbox1233[$index]" ng-model="vars.checkbox[$index]" ng-initial-value="false" crn-allow-null-values="false" ng-false-value="true" ng-true-value="false" ng-click="cronapi.client('js.blockly.Votacao.Voto.ObtemVoto').names('66436263', '7b36cee4').run(ideia.id, vars.checkbox[$index])"> 
        </div> 
        <div style="width: 100%;">
        <div class="panel-heading heading-arrow" role="tab" id="headingOne{{$index}}" data-toggle="collapse" data-parent="#accordion-1372" href="#collapseOne-1372{{$index}}" aria-expanded="true" aria-controls="collapseOne-1372{{$index}}" heading-arrow="heading-arrow"> 
          <div class="lead" data-component="crn-title" xattr-position=""> 
            <h1 class="title h3 col-md-12 text-left" xattr-position="text-left" xattr-type="h3" data-component="crn-text-component">{{ideia.fields.Projeto}}</h1> 
            <div class="col-md-12"> 
              <div class="campoDadosProjeto col-md-3"> 
                <span>Responsável: </span> 
                <div class="cardsRetorno">
                   {{ideia.fields.Responsavel}} 
                </div> 
              </div> 
              <div class="col-md-6 campoDadosProjeto"> 
                <span>Linha de negócio: </span> 
                <div class="cardsRetorno">
                   {{ideia.fields.LN}} 
                </div> 
              </div> 
            </div> 
          </div> 
        </div> 
        <div id="collapseOne-1372{{$index}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne{{$index}}"> 
          <div class="panel-body" data-container="true"> 
            <div class="lead text-center" data-component="crn-subtitle" xattr-position="text-center"> 
              <div class="col-md-12 campoDadosProjeto" style="display:flex;"> 
                <span>Link de defesa: </span> 
                <div class="cardsRetorno col-md-12"> 
                  <a href="{{ideia.fields.Link}}" target="_blank" class=" non-collapsing cron-link color-default text-left col-md-12 col-lg-12 col-sm-12 col-xs-12" data-replace="true" link-theme="color-default" data-component="crn-anchor" id="crn-anchor-279185">{{ideia.fields.Link}}</a> 
                </div> 
              </div> 
            </div> 
            <div style="margin-top: 40px;"> 
              <div class="campoDadosProjeto"> 
                <span style="width: 100%; margin-bottom: 10px;">Grupo: </span> 
              </div> {{ideia.fields.Grupo}} 
            </div> 
            <div style="margin-top: 40px;"> 
              <div class="campoDadosProjeto"> 
                <span style="width: 100%; margin-bottom: 10px;">Membros: </span> 
              </div> {{ideia.fields.Membros}} 
            </div> 
            <div style="margin-top: 40px;"> 
              <div class="campoDadosProjeto"> 
                <span style="width: 100%; margin-bottom: 10px;">Valor: </span> 
              </div> {{ideia.fields.Valor}} 
            </div> 
            <div style="margin-top: 40px;"> 
              <div class="campoDadosProjeto"> 
                <span style="width: 100%; margin-bottom: 10px;">Aplicabilidade: </span> 
              </div> {{ideia.fields.Aplicabilidade}} 
            </div> 
            <div style="margin-top: 40px;"> 
              <div class="campoDadosProjeto"> 
                <span style="width: 100%; margin-bottom: 10px;">Detalhamento: </span> 
              </div> {{ideia.fields.Detalhamento}} 
            </div> 
          </div> 
        </div> 
        </div>
        </div>
      </div> 
    </div> 
  </div> 
  </div>
  
  <div class="col-md-4" style="margin-right: 0px; height: 100rem; background: #F4F4FF; top: 0px; right: 0px; position: relative; float: right;"> 
    <div class="col-sm-12">
        <p style="font-weight: bold; text-align: left; padding-left: 2rem; padding-top:2rem;">Meus Votos</p>
    </div>
    
    <div class="col-sm-12 hidden" style="text-align: left; padding-left: 2rem; padding-right: 2rem;">
        <div>
            REGRAS Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </div>
        <div style="padding-top: 2rem; padding-bottom: 2rem;">
            <input class="check-voto-selecao" type="checkbox" id="check-aceitar-regras" ng-model="vars.checkAceitarRegras" ng-initial-value="false" crn-allow-null-values="false" ng-false-value="true" ng-true-value="false" ng-click=""> 
            <label for="check-aceitar-regras">aceito regras</label>
        </div>
        <div class="component-holder ng-scope col-md-12" data-component="crn-button" id="crn-button-477481">
            <button class="btn k-button btn-block btn-default" ng-click="" xattr-fullsize="btn-block" xattr-theme="btn-default" xattr-disabled="">
                <i class="glyphicon glyphicon-pencil" icon-theme=""></i> 
                <span class="" text-theme="">Iniciar Votação</span>
            </button>
        </div>
    </div>
    
    <div class="col-sm-12 hidden" style="text-align: left; padding-left: 2rem; padding-right: 2rem;">
        <div>
            Escolha até 2 projetos
        </div>
    </div>
    
    <div class="col-sm-12" style="text-align: left; padding-left: 2rem; padding-right: 2rem;">
        <div style="padding-bottom: 2rem;">
            Vote em até 2 projetos
        </div>
        <div>
            <div style="background: rgb(255, 255, 255); border-radius: 6px; border: 1px solid rgb(140, 140, 140); padding:1rem">
                <div style="font-size: 2rem; text-height: bold">Nome do Projeto</div>
                <div>Secondary Text</div>
            </div>
        </div>
        <div style="padding-top: 2rem; padding-bottom: 2rem;">
            <input class="check-voto-selecao" type="checkbox" id="check-aceitar-regras" ng-model="vars.checkAceitarRegras" ng-initial-value="false" crn-allow-null-values="false" ng-false-value="true" ng-true-value="false" ng-click=""> 
            <label for="check-aceitar-regras">aceito regras</label>
        </div>
    </div>
  <script>
  function checkCount(checkbox) {
        var checkboxes = document.querySelectorAll('input[type=checkbox]');
        var checkedCount = 0;
        for (var i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i].checked) {
                checkedCount++;
            }
        }
        if (checkedCount >= 2) {
            for (var i = 0; i < checkboxes.length; i++) {
                if (!checkboxes[i].checked) {
                    checkboxes[i].disabled = true;
                }
            }
        } else {
            for (var i = 0; i < checkboxes.length; i++) {
                checkboxes[i].disabled = false;
            }
        }
    }
    </script>
</div></div>