<?xml version="1.0" encoding="UTF-8"?><Context>
    <Resource accessToUnderlyingConnectionAllowed="true" driverClassName="org.h2.Driver" logAbandoned="true" name="jdbc/main" password="root" profile="DEV" removeAbandoned="false" removeAbandonedTimeout="60" type="javax.sql.DataSource" url="jdbc:h2:file:~/791acba6c87d48599fd8c76a989db21a;ALIAS_COLUMN_NAME=true;AUTO_SERVER=TRUE" username="root"/>
    <Profile value="DEV"/>
    <Profile value="PROD"/>
    <Parameter name="baseId" value="apptLuK4pY7U5jMZO"/>
    <Parameter name="tableId" value="tblzdGhqXEcHTBLFG"/>
    <Parameter name="token_api" value="patXeu7nyJHfXlyfB.86b399907cab9a82f56f33f8850681e5f8304df31e39eef69c4b9981f2b4ca66"/>
</Context>
