.campoDadosProjeto span{
    font-size: 14px;
    font-weight: 700;
    white-space: nowrap;
}

.cardsRetorno {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-left: 10px;
    z-index: 3;
}

.campoDadosProjeto {
    display:flex;
    align-items: center;
}

.cardsRetorno a{
    z-index: 3;
}

/*Tela Login*/
.bg-login2 {
    grid-template-columns: 2fr 1fr !important;
}