@import "ajustesCards.css";
@import "input.css";
@import "webkit.css";

/*Remocao Padding Padrao da Main Cronapp*/
.main-view.container-fluid.main-view-horizontal {
    padding: 0px !important;
    margin: 0;
    width: 100%;
}

/*Fonte*/
body {
    font-family: new-rubrik, sans-serif;
}
