@import "ajustesCards.css";

/*botoes*/
.btn-primary {
    background-color: #7F85F5; /* Cor roxa para o botão */
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    position: relative; /* Define o contexto para a sombra */
    box-shadow: 0px 8px 0px 0px rgba(127, 133, 245, 0.5); /* Sombra roxa na parte de baixo */
    border-radius: 24px;
}

/*Remocao Padding Padrao da Main Cronapp*/
.main-view.container-fluid {
    padding: 0px !important;
}

/*Fonte*/
body {
      font-family: 'New Rubric', sans-serif;
}