@import "ajustesCards.css";
@import "input.css";
@import "webkit.css";

@font-face {
  font-family: defaultFont;
  src: url("font/rubrik.otf");
}

@font-face {
  font-family: defaultFontSemiBold;
  src: url("font/rubrikSemiBold.otf");
}

/*Remocao Padding Padrao da Main Cronapp*/
.main-view.container-fluid.main-view-horizontal {
    padding: 0px !important;
    margin: 0;
    width: 100%;
}

/*Fonte*/
body {
  font-family: defaultFont, new-rubrik, sans-serif;
}